.soldier-ani {
  position: relative;
  height: calc(100vh - 100px);
  .first,
  .second {
    position: absolute;
  }
  .first {
    top: 25%;
    right: 0;
  }
  .second {
    top: 30%;
    left: 0;
  }
  .content {
    color: var(--baseColor);
    padding-top: var(--sectionPadding);
    h1 {
      font-size: var(--posterTitleTextSize);
      line-height: 100%;
      text-align: center;
    }
  }
}
